<div class="admin-page">
  <div class="admin-box">
    <div class="admin-title">Welcome To Admin</div>

    <div class="admin-text">
      I am a <span class="bold">Full Stack Developer</span> with knowledge of
      <span class="bold">Spring Boot and Angular.</span>
      I work on backend development using Spring Boot and create user interfaces
      using Angular. I have experience in building REST APIs, connecting
      applications with databases, and handling frontend-backend communication.
      I am eager to learn new technologies and improve my skills while working
      on learning projects.
    </div>
  </div>

</div>
