<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>

    <button class="navbar-toggler" onclick="toggleMenu()">☰</button>

    <div class="navbar-menu" id="navbarMenu">
      <ul class="nav-links">
        <li><a class="active" routerLink="">Home</a></li>
        <li><a class="active" routerLink="/admin">Admin</a></li>
        <li><a class="active" routerLink="/signup">Signup</a></li>
        <li><a class="active" routerLink="/login">Login</a></li>
      </ul>

      <form class="search-box">
        <input type="search" placeholder="Search">
        <button type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
