
.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #43cea2, #185a9d);
}

.signup-card {
  width: 380px;
  padding: 35px;
  background: #ffffff;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.signup-card h2 {
  margin-bottom: 10px;
  color: #333;
}

.signup-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 16px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.form-group input:focus {
  border-color: #43cea2;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  background-color: #43cea2;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-btn:hover {
  background-color: #2ebf91;
}

.login-text {
  margin-top: 20px;
  font-size: 14px;
}

.login-text a {
  color: #43cea2;
  text-decoration: none;
  font-weight: 600;

  cursor: pointer;        
  position: relative;    
  z-index: 10; 
}
