<div class="sidebar">
  <div class="sidebar-header">
    <span class="sidebar-title">Admin Panel</span>
  </div>

  <hr>

  <ul class="menu">
  <li><a class="menu-link" routerLink="" routerLinkActive="active">Home</a></li>
  <li><a class="menu-link" routerLink="employees" routerLinkActive="active">Employee List</a></li>
  <li><a class="menu-link" routerLink="get" routerLinkActive="active">Get By ID</a></li>
  <li><a class="menu-link" routerLink="update" routerLinkActive="active">Update</a></li>
  <li><a class="menu-link" routerLink="delete" routerLinkActive="active">Delete</a></li>
  <li><a class="menu-link" routerLink="orderSummaryComponent" routerLinkActive="active">OrderSummaryComponent</a></li>
</ul>


  <hr>

  <div class="logout">
    <a class="logout-link" (click)="logout()">Sign out</a>
  </div>
</div>
