<app-navbar></app-navbar>
<div class="home">
  <div class="content">
    <h1>Welcome To Angular Project</h1>

    <p>
       I am a <samp class="bold">Full Stack Developer</samp> with knowledge of
        <samp class="bold">Spring Boot and Angular.</samp>
      I work on backend development using Spring Boot and create user interfaces
       using Angular. I have experience in building REST APIs, connecting
       applications with databases, and handling frontend-backend communication.
       I am eager to learn new technologies and improve my skills while working 
       on learning projects.
    </p>

  </div>
</div>



